// SETUP
// @import 'setup/typography';
// @import 'setup/variables';
// @import 'setup/mixins';
// @import 'setup/functions';

// // BASICS
// @import 'basics/helpers';
// @import 'basics/base';
// @import 'basics/layout';

// // COMPONENTS
@import 'components/header-app';
@import 'components/filter';
@import 'components/toy-list';
@import 'components/toy-preview';
// @import 'components/main-footer';
// @import 'components/cat-card';

// VIEW
@import 'view/home-page';
@import 'view/toy-app.scss';

body {
    max-width: 100%;
    margin:auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}
 a {
     color: rgb(65, 44, 5);
 }

 button{
     cursor: pointer;
 }

 .web-container{
     width: 100%;
     height: 100vh;
 }
