.filter{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.search-filter{
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  // box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  outline: none;
}

.el-input__inner{
  text-align: center;
  // box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.sort-button{
  background-color: rgb(210, 209, 209);
  // box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
